<a href="https://colab.research.google.com/github/hiranya15/Study_of_Tuple/blob/main/Study_of_Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Experiment No. 4
# Study of Tuple
## hiranya
## 25070123054
## Batch A3

In [ ]:
## Python Tuples
# Create Tuple and Access tuple items
tuple1 = ("star", "moon","sun")
print(tuple1[1])

moon

In [ ]:
tuple[1]="earth"
print(tuple1)

TypeError: 'type' object does not support item assignment

In [ ]:
tuple1.append[1]="earth"
print(tuple1)

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
# Add tuple to a tuple
tuple1=("star", "moon","sun","venus","mercury")
y = ("earth",)
tuple1 += y
print(tuple1)

('star', 'moon', 'sun', 'venus', 'mercury', 'earth')

In [ ]:
# Slicing
print(tuple1[1:3])
print(tuple1[1:3:2])

('moon', 'sun')
('moon',)

In [ ]:
result  = ("maths",95,"A+")
#unpack the tuple
subject , marks,grade = result
# Display the result details
print("Subject:",subject)
print("marks:",marks)
print("Grade:",grade)

#Check for distinction
if marks >= 80:
  print("distinction")

Subject: maths
marks: 95
Grade: A+
distinction

In [ ]:
# Attendance
a = ("P","A","P","P","P","A","P")
print("The total number of present days: ",a.count("P") )
print("The toltal number of days absent : ",a.count("A"))
if a.count("A") >= 2 :
  print ("The employee was absent atleast twice")

The total number of present days:  5
The toltal number of days absent :  2
The employee was absent atleast twice